
<div class="Master-Class">
    <div class="sub-div">
        
    <div class="Main-Container">
        <mat-card class="Head-Section">
            <div class="paddding-lft">
                <p>Non Veg Meals</p>
            </div>
            <img src="https://i.ibb.co/JQhVFDG/eiliv-aceron-Zu-IDLSz3-XLg-unsplash.jpg" alt="none" class="imagesrc">
            <!-- <a href="https://ibb.co/0QbyMKq"><img src="https://i.ibb.co/0QbyMKq/anh-nguyen-kc-A-c3f-3-FE-unsplash.jpg" alt="anh-nguyen-kc-A-c3f-3-FE-unsplash" border="0" /></a> -->
            <div class="paddding-lft">
                indian Food Contains rice,
            </div>
            <div class="wrapper paddding-lft">
                <button mat-raised-button class="plusminus" (click)="handleMinus()">-</button>
                <input type="number" class="num" value="0" [(ngModel)]="value" />
                <button mat-raised-button class="plusminus" (click)="handlePlus()">+</button>
            </div>
            <p class="paddding-lft" *ngIf="value == 0" >Rs 1000</p>
            <p class="paddding-lft" *ngIf="value !== 0" >Rs {{value*1000}}</p>
        </mat-card>
        <mat-card class="Head-Section">
            <div class="paddding-lft">
                <p>Non Veg Meals</p>
            </div>
            <img src="https://i.ibb.co/JQhVFDG/eiliv-aceron-Zu-IDLSz3-XLg-unsplash.jpg" alt="none" class="imagesrc">
            <!-- <a href="https://ibb.co/0QbyMKq"><img src="https://i.ibb.co/0QbyMKq/anh-nguyen-kc-A-c3f-3-FE-unsplash.jpg" alt="anh-nguyen-kc-A-c3f-3-FE-unsplash" border="0" /></a> -->
            <div class="paddding-lft">
                indian Food Contains rice,
            </div>
            <div class="wrapper paddding-lft">
                <button mat-raised-button class="plusminus" (click)="handleMinus()">-</button>
                <input type="number" class="num" value="0"/>
                <button mat-raised-button class="plusminus" (click)="handlePlus()">+</button>
            </div>
            <p class="paddding-lft">Rs 1000</p>
        </mat-card><mat-card class="Head-Section">
            <div class="paddding-lft">
                <p>Non Veg Meals</p>
            </div>
            <img src="https://i.ibb.co/JQhVFDG/eiliv-aceron-Zu-IDLSz3-XLg-unsplash.jpg" alt="none" class="imagesrc">
            <!-- <a href="https://ibb.co/0QbyMKq"><img src="https://i.ibb.co/0QbyMKq/anh-nguyen-kc-A-c3f-3-FE-unsplash.jpg" alt="anh-nguyen-kc-A-c3f-3-FE-unsplash" border="0" /></a> -->
            <div class="paddding-lft">
                indian Food Contains rice,
            </div>
            <div class="wrapper paddding-lft">
                <button mat-raised-button class="plusminus" (click)="handleMinus()">-</button>
                <input type="number" class="num" value="0" />
                <button mat-raised-button class="plusminus" (click)="handlePlus()">+</button>
            </div>
            <p class="paddding-lft">Rs 1000</p>
        </mat-card><mat-card class="Head-Section">
            <div class="paddding-lft">
                <p>Non Veg Meals</p>
            </div>
            <img src="https://i.ibb.co/JQhVFDG/eiliv-aceron-Zu-IDLSz3-XLg-unsplash.jpg" alt="none" class="imagesrc">
            <!-- <a href="https://ibb.co/0QbyMKq"><img src="https://i.ibb.co/0QbyMKq/anh-nguyen-kc-A-c3f-3-FE-unsplash.jpg" alt="anh-nguyen-kc-A-c3f-3-FE-unsplash" border="0" /></a> -->
            <div class="paddding-lft">
                indian Food Contains rice,
            </div>
            <div class="wrapper paddding-lft">
                <button mat-raised-button class="plusminus" (click)="handleMinus()">-</button>
                <input type="number" class="num" value="0" />
                <button mat-raised-button class="plusminus" (click)="handlePlus()">+</button>
            </div>
            <p class="paddding-lft">Rs 1000</p>
        </mat-card>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="openMenu=!openMenu"> CheckOut</button>
    </div>
    </div>

    <div Class="Side-Container" *ngIf="openMenu">
        <mat-card class="card-div">
            <div class="left">
                <div class="paddding-lft">
                    <p>Non Veg Meals</p>
                </div>
                <img src="https://i.ibb.co/JQhVFDG/eiliv-aceron-Zu-IDLSz3-XLg-unsplash.jpg" alt="none" class="imagesrc1">
                <!-- <a href="https://ibb.co/0QbyMKq"><img src="https://i.ibb.co/0QbyMKq/anh-nguyen-kc-A-c3f-3-FE-unsplash.jpg" alt="anh-nguyen-kc-A-c3f-3-FE-unsplash" border="0" /></a> -->
                <div class="paddding-lft">
                    indian Food Contains rice,
                </div>
            </div>
            <div class="right">
                <div class="wrapper paddding-lft">
                    <button mat-raised-button class="plusminus" (click)="handleMinus()">-</button>
                    <input type="number" class="num" value="0" [(ngModel)]="value" />
                    <button mat-raised-button class="plusminus" (click)="handlePlus()">+</button>
                </div>
                <p class="paddding-lft">Rs 1000</p>
            </div>
        </mat-card>
        <p class="paddding-lft">Total Product Price : {{value*1000}}</p>
        <button mat-raised-button color="primary" (click)="openPayment()"> Payment</button>
    </div>
</div>

<div class="Payments" *ngIf="Payment">
    <img src="https://i.ibb.co/bm8GymM/Flat-tick-icon-svg.png" alt="none" class="imagesrc2">
    
    <p class="payment-succcess">Payment SuccessFull</p>
    <mat-icon (click)="Payment=false" class="close-icon">close</mat-icon>
</div>